/* Media query for mobile */
/* Media query for tablet */
/* Media query for high pixel density devices */
/* Mobile text styles */
/* Desktop text styles */
html,
body {
  margin: 0;
  font-family: "Titillium", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Titillium";
  src: url(../../assets/Font/TitilliumWeb-Bold.ttf);
  format: "opentype";
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "Titillium";
  src: url(../../assets/Font/TitilliumWeb-Regular.ttf);
  format: "opentype";
  font-weight: 400;
  font-style: normal;
}
.formWarehouse {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding: 1rem;
  border-bottom: 0.0625rem solid #bdc5d5;
  height: 5.75rem;
  padding: 1.5rem;
}
.formWarehouse__main {
  margin: 0;
}
.formWarehouse__header {
  display: flex;
  padding: 1rem;
  border-bottom: 0.0625rem solid #bdc5d5;
}
.formWarehouse__header-img {
  padding-right: 0.5rem;
}
.formWarehouse__header-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #13182c;
  font-size: 1.5rem;
  font-weight: 400;
}
.formWarehouse-title {
  margin: 0;
  padding-left: 1rem;
}
.formWarehouse__warehouse-details-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  font-weight: 400;
  margin: 0;
}
.formWarehouse__warehouse-detailsFirst, .formWarehouse__warehouse-detailsSecond {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.formWarehouse__warehouse-detailsSecond {
  border-top: 0.0625rem solid #bdc5d5;
}
.formWarehouse__input-title {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  display: inline-block;
}
.formWarehouse__input {
  width: 18.4375rem;
  height: 2.25rem;
  border: 1px solid #bdc5d5;
  border-radius: 1.25rem;
  font-family: Titillium;
  resize: none;
  padding-left: 1rem;
  line-height: 1.25rem;
  text-align: left;
  display: flex;
  align-items: center;
}
.formWarehouse__input:focus {
  outline: 0.125rem solid #2e66e5;
  box-shadow: 0 0 0.75rem #76a7db;
}
.formWarehouse__btn-wrapper {
  display: flex;
  justify-content: space-around;
  background: #f7f8f9;
  border-top: 1px solid #bdc5d5;
}
.formWarehouse__btn--cancel {
  height: 2.25rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem 2.5rem;
  border: 1px solid #bdc5d5;
  border-radius: 1.25rem;
  font-family: Titillium;
  color: #5c667e;
  background-color: #ffffff;
}
.formWarehouse__btn--addItem {
  height: 2.25rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem 2.5rem;
  border: 1px solid #bdc5d5;
  border-radius: 1.25rem;
  font-family: Titillium;
  color: #ffffff;
  background-color: #2e66e5;
}

@media only screen and (min-width: 768px) {
  .formWarehouse__main {
    display: flex;
    justify-content: center;
  }
  .formWarehouse__header-title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    font-weight: 400;
  }
  .formWarehouse__btn-wrapper {
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 4.375rem;
    padding: 1rem 0;
  }
  .formWarehouse__content-main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
  }
  .formWarehouse__warehouse-detailsSecond {
    border-top: none;
    border-left: 0.0625rem solid #bdc5d5;
  }
  .formWarehouse__btn--cancel, .formWarehouse__btn--addItem {
    margin: 0.5rem;
  }
}/*# sourceMappingURL=editWarehouse.css.map */