@use "../../styles/partials/color" as *;
@use "../../styles/partials/breakpoints" as breakpoints;
@use "../../styles/partials/text-styles" as text;
@use "../../styles/partials/resets";
@use "../../styles/partials/fonts";

.form {
  &__header {
    display: flex;
    padding: 1rem;
    border-bottom: 0.0625rem solid $Cloud;
  }
  &__header-link {
    display: flex;
    padding: 1rem;
  }
  &__header-img {
    padding-right: 0.5rem;
  }
  &__header-title {
    @include text.subheader-mobile;
    color: $Instock-Black;
    font-size: 1.5rem;
    font-weight: 400;
  }
  &__item-details {
    padding: 1rem;
    border-bottom: 1px solid $Cloud;
  }
  &__item-details-title {
    @include text.subheader-mobile;
    font-weight: 400;
    margin: 0;
  }
  &__input-title {
    @include text.labels-links-btn-mobile;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
  }
  &__input-name {
    width: 18.4375rem;
    height: 2.25rem;
    border: 1px solid #bdc5d5;
    border-radius: 1.25rem;
    font-family: Titillium;
    resize: none;
    padding-left: 1rem;
    padding-top: 0.5rem;
    &:focus {
      outline: 0.125rem solid $Instock-Indigo;
      box-shadow: 0 0 0.75rem #76a7db;
    }
  }
  &__input-description {
    width: 18.4375rem;
    border: 1px solid #bdc5d5;
    border-radius: 1.25rem;
    font-family: Titillium;
    padding: 0.5rem 0 4rem 1rem;
    resize: none;
    &:focus {
      outline: 0.125rem solid $Instock-Indigo;
      box-shadow: 0 0 0.75rem #76a7db;
    }
  }
  &__item-avail {
    padding: 1rem;
  }
  &__item-avail-title {
    @include text.subheader-mobile;
    font-weight: 400;
    margin: 0;
  }
  &__radio-btn-wrapper {
    display: flex;
  }
  &__radio-btn {
    color: $Instock-Black;
    width: 100%;
  }
  &__btn-wrapper {
    display: flex;
    justify-content: space-around;
  }
  &__btn {
    &--cancel {
      height: 2.25rem;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
      padding: 0.5rem 2.5rem;
      border: 1px solid #bdc5d5;
      border-radius: 1.25rem;
      font-family: Titillium;
      color: $Slate;
      background-color: $White;
    }
    &--addItem {
      height: 2.25rem;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
      padding: 0.5rem 2.5rem;
      border: 1px solid #bdc5d5;
      border-radius: 1.25rem;
      font-family: Titillium;
      color: $White;
      background-color: $Instock-Indigo;
    }
  }
}

.react-select {
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 1.25rem;
  border: 1px solid #bdc5d5;
}

@include breakpoints.medium {
  .form {
    &__header-title {
      @include text.page-header-desktop-tablet;
      font-weight: 400;
    }
    &__btn-wrapper {
      justify-content: flex-end;
      margin: 1rem;
    }
    &__content-main {
      display: flex;
      justify-content: space-evenly;
      padding-top: 1rem;
    }
    &__item-details {
      border: none;
    }
    &__item-avail {
      border-left: 1px solid #bdc5d5;
      padding-left: 2rem;
    }
    &__btn {
      &--cancel,
      &--addItem {
        margin: 0.5rem;
      }
    }
  }
}
