@font-face {
  font-family: "Titillium";
  src: url(../../assets/Font/TitilliumWeb-Bold.ttf);
  format: ("opentype");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Titillium";
  src: url(../../assets/Font/TitilliumWeb-Regular.ttf);
  format: ("opentype");
  font-weight: 400;
  font-style: normal;
}
